*.sublime-workspace
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
tags

# App specific

node_modules/
.tmp
config.js
npm-debug.log

demo/demoDist.js

demo/local.html

dist/*.min.css
coverage/
