#styla-widget.list .styla-widget__container {
    padding:                            1em 2em;
    display:                            -moz-flex;
    display:                            -webkit-flex;
    display:                            flex;
    flex-direction:                     column;
    -webkit-flex-direction:             column;
    -moz-flex-direction:                column;
    flex-wrap:                          wrap;
    -webkit-flex-wrap:                  wrap;
    -moz-flex-wrap:                     wrap;
}

#styla-widget.list .styla-widget__story
{

    margin-right:                       2em;
    height:                             14em;
    width:                              100%;
    flex-grow:                          1;
}

#styla-widget.list .styla-widget__story:nth-child(even)
{
    text-align:                         right;
}

#styla-widget.list .styla-widget__link
{
    height:                             14em;
    top:                                50%;
    margin-top:                         -7em;
    align-items:                        center;
}

#styla-widget.list .styla-widget__imagewrap
{
    display:                            block;
    vertical-align:                     top;
    flex-grow:                          1;
    -webkit-flex-grow:                  1;
    -moz-flex-grow:                     1;
    height:                             100%;
    margin:                             0 6% 0 0;
    flex:                               none;
    -webkit-flex:                       none;
    -moz-flex:                          none;
    max-width:                          40%;
    float:                              left;
}

#styla-widget.list .styla-widget__story:nth-child(even) .styla-widget__imagewrap
{
    margin:                             0 0 0 6%;
    float:                              right;
    clear:                              both;
    order:                              2
}


#styla-widget.list .styla-widget__textwrap
{
    display:                            block;
    flex-grow:                          1;
    -webkit-flex-grow:                  1;
    -moz-flex-grow:                     1;
    max-height:                         100%;
    overflow:                           hidden;
    float:                              left;
}

#styla-widget.list .styla-widget__story:nth-child(even) .styla-widget__textwrap
{
    float:                              right;
}

#styla-widget.list .styla-widget__headlinewrap
{
    height:                             5em;
    display:                            -moz-flex;
    display:                            -webkit-flex;
    display:                            flex;
    flex-direction:                     column;
    -webkit-flex-direction:             column;
    -moz-flex-direction:                column;
    justify-content:                    flex-end;
    -webkit-justify-content:            flex-end;
    -moz-justify-content:               flex-end;
}

#styla-widget.list .styla-widget__headline
{
    font-size:                          1.9em;
    line-height:                        1.25em;
    max-height:                         2.5em;
    overflow:                           hidden;
    margin:                             0;
    margin-bottom:                      0.25em;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
    display:                            -webkit-box;
    -webkit-box-orient:                 vertical;
    -webkit-line-clamp:                 2;
}

#styla-widget.list .styla-widget__paragraph
{
    font-size:                          1em;
    line-height:                        1.5em;
    max-height:                         7.5em;
    overflow:                           hidden;
    position:                           relative;
    word-wrap:                          break-word;
}

#styla-widget.list .styla-widget__paragraph-after
{
    line-height:                        1.5em;
}

/* Multiple paragraphs causes issues when truncating the text */
#styla-widget.list .styla-widget__paragraph p + p
{
    display:                            none;
}
