
#styla-widget.stories .styla-widget__story
{
    overflow:                           hidden;
    height:                             5em;
}


#styla-widget.stories .styla-widget__link
{
    height:                             5em;
}


#styla-widget.stories__link > div
{
    display:                            inline-block;
}

#styla-widget.stories .styla-widget__imagewrap,
#styla-widget.stories .styla-widget__image
{
    width:                              85px;
    object-fit:                         cover;
}


#styla-widget.stories .styla-widget__imagewrap
{
    margin:                             0 3% 0 0;
    height:                             100%;
}


#styla-widget.stories .styla-widget__textwrap
{
    width:                              calc( 100% - 85px );
    display:                            block;
    flex-grow:                          1;
    max-height:                         100%;
    overflow:                           hidden;
    float:                              left;
}


#styla-widget.stories .styla-widget__headlinewrap
{
    min-height:                         2em;
    max-height:                         4em;
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    flex-end;
}


#styla-widget.stories .styla-widget__headline
{
    font-size:                          1.4em;
    line-height:                        1.25em;
    max-height:                         2.5em;
    overflow:                           hidden;
    margin:                             0;
    margin-bottom:                      0.25em;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
    display:                            -webkit-box;
    -webkit-box-orient:                 vertical;
    -webkit-line-clamp:                 2;
}

#styla-widget.stories .styla-widget__paragraph
{
    font-size:                          1em;
    line-height:                        1.5em;
    height:                             3em;
    overflow:                           hidden;
    position:                           relative;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
    display:                            inline;
}

#styla-widget.stories .styla-widget__paragraph-after
{
    display:                            inline;
}

/* This design has no support for call to action */
#styla-widget.stories .styla-widget__calltoaction
{
    display:                            none;
}
