
#styla-widget .styla-widget__story
{
    overflow:                           hidden;
    height:                             5em;
}


#styla-widget .styla-widget__link
{
    height:                             5em;
}


#styla-widget__link > div
{
    display:                            inline-block;
}

#styla-widget .styla-widget__imagewrap, #styla-widget .styla-widget__image
{
    width:                              85px;
}


#styla-widget .styla-widget__imagewrap
{
    margin:                             0 3% 0 0;
    height:                             100%;
}


#styla-widget .styla-widget__textwrap
{
    width:                              calc(100% - 85px);
    display:                            block;
    flex-grow:                          1;
    max-height:                         100%;
    overflow:                           hidden;
    float:                              left;
}


#styla-widget .styla-widget__headlinewrap
{
    height:                             2em;
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    flex-end;
}


#styla-widget .styla-widget__headline, #styla-widget .styla-widget__title
{
    font-size:                          1.4em;
    line-height:                        1.25em;
    max-height:                         2.5em;
    overflow:                           hidden;
    margin:                             0;
    margin-bottom:                      0.25em;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
    display:                            -webkit-box;
    -webkit-box-orient:                 vertical;
    -webkit-line-clamp:                 2;
}


#styla-widget .styla-widget__title
{
    font-size:                          2em;
    text-align:                         center;
    margin-bottom:                      60px;
    padding:                            30px 0;
    border-bottom:                      #E5E5E5 solid 1px
}


#styla-widget .styla-widget__paragraph
{
    font-size:                          1em;
    line-height:                        1.5em;
    height:                             3em;
    overflow:                           hidden;
    position:                           relative;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
}


#styla-widget .styla-widget__paragraph:after
{
    position:                           absolute;
    left:                               0;
    top:                                7.5em;
    display:                            block;
    background-color:                   #FFF;
    width:                              100%;
    height:                             2em;
}
