#styla-widget.tiles .styla-widget__container {
    display:                            -moz-flex;
    display:                            -webkit-flex;
    display:                            flex;
    flex-direction:                     row;
    -webkit-flex-direction:             row;
    -moz-flex-direction:                row;
    flex-wrap:                          wrap;
    -moz-flex-wrap:                     wrap;
    -webkit-flex-wrap:                  wrap;
    height:                             100%;
}

#styla-widget.tiles .styla-widget__story
{
    height:                             100%;
    min-height:                         14em;
    min-width:                          14em;
    display:                            block;
    float:                              left;
    flex-grow:                          1;
    -moz-flex-grow:                     1;
    -webkit-flex-grow:                  1;
    overflow:                           hidden;
}

#styla-widget.tiles .styla-widget__link
{
    height:                             100%;
    align-items:                        center;
}

#styla-widget.tiles .styla-widget__imagewrap
{
    display:                            block;
    position:                           absolute;
    width:                              100%;
    height:                             100%;
}

#styla-widget.tiles .styla-widget__image
{
    object-fit:                         cover;
    min-width:                          100%;
}

#styla-widget.tiles .styla-widget__textwrap
{
    position:                           absolute;
    display:                            block;
    bottom:                             0;
    width:                              100%;
    margin-bottom:                      -8.5em;
    height:                             12.5em;
    transition:                         margin 0.2s ease;
    padding:                            1em;
    background:                         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

#styla-widget.tiles .styla-widget__story:hover .styla-widget__textwrap {
    margin-bottom:                      0;
}

#styla-widget.tiles .styla-widget__headlinewrap
{
    height:                             5em;
    display:                            -moz-flex;
    display:                            -webkit-flex;
    display:                            flex;
    flex-direction:                     column;
    -webkit-flex-direction:             column;
    -moz-flex-direction:                column;
    justify-content:                    flex-end;
    -webkit-justify-content:            flex-end;
    -moz-justify-content:               flex-end;
}

#styla-widget.tiles .styla-widget__headline
{
    font-size:                          1.9em;
    line-height:                        1.25em;
    max-height:                         2.5em;
    overflow:                           hidden;
    margin:                             0;
    margin-bottom:                      0.25em;
    word-wrap:                          break-word;
    text-overflow:                      ellipsis;
    display:                            -webkit-box;
    -webkit-box-orient:                 vertical;
    -webkit-line-clamp:                 2;
    color:                              #FFF;
    text-shadow:                        1px 1px 1px rgba(0,0,0,0.65);
}

#styla-widget.tiles .styla-widget__paragraph
{
    max-height:                         6em;
    color:                              #FFF;
}

#styla-widget.tiles .styla-widget__paragraph-after
{
    color:                              #FFF;
    line-height:                        1.5em;
}

/* Multiple paragraphs causes issues when truncating the text */
#styla-widget.tiles .styla-widget__paragraph p + p
{
    display:                            none;
}
